# Node modules
node_modules/

# Playwright reports & artifacts
playwright-report/
test-results/
*.log

# Environment files
.env

# Browserstack
log
local.log

# macOS system files
.DS_Store
**/.DS_Store
.idea/